body {

    background-color: #000;
    filter: Shadow(Color=#000, Direction=135, Strength=3);
    text-shadow: 2px 2px 8px #000;
}

.page {

    margin: 0px auto;
    width: 95%;

}


.category {

    width: 75%;
    margin: 0px auto 0px;
}
.navLink {

    float: right;
    margin: 40px auto 0px;

}

.nav {

margin-top: 14em;

} 

.productions {

    background-color: #222;
    margin: 10px auto 10px;
    min-width: 22em;

}

.productions embed {

    display: block;
    margin: 10px auto 10px;
    height: 13em;
    width: 15em;
}


@media (min-width: 53em) {
    .content {

        float: left;
        margin: 0px auto 0px;
        width: 50%;
    }

    .nav {

        margin: 50px auto 0px;
        width: 27%;
        float: right;
    }

    .navLink {
        display: none;
    }

    .productions {

        float: left;
        padding: 2.5%;
        width: 50%;
    }

    .productions embed {

    width: 20em;
    height: 16em;

}
}

.firstNav {

    display: block;

}


    .firstNav {

        display: none;

    }

@media (min-width: 53em) {

    .lastNav {

        display: none;

    }
    .firstNav {

        display: block;

    }
}

.fsBody {

    position: absolute;
    opacity: .7;
    background-color: #999999;
    display: none;

}


.nav ul {

    padding: .00375%;

}

.productions img {
    float: left;
    margin: 0px auto 0px;
    padding: 18px;
    width: 70%;
}

.content img {
    margin: 0px auto 0px;
    max-width: 100%;
}


