*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.home {
    display: none;
}

body {

    background-image: url("../Images/AngelicProcession.JPG");
    background-repeat: no-repeat;
    background-position: center;
}

.content {

    padding-top: 100px;

}

@media (min-width: 53em) {
    .content {

        margin: 49px auto 0px;
        width: 70%;
    }

    .nav {
        margin-top: 60px;

    }
}

.title {
    float: left;
    margin: 0px auto 0px;
    width: 100.0%;
    font-size: .35em;
    z-index: 11;
    color: #FFF;
    position: relative;

}

.subtitle {

    float: left;
    margin: 0px, auto, 0px;
    text-align: center;
    width: 80%;

}

.lowTitle {

    bottom: 0;
    color: #FFF;
    float: right;
    margin 0px auto 0px;
    max-width: 100%;
    opacity: .8;
    overflow: hidden;
    z-index: -20;

}

.tagline {
    filter: Shadow(Color=#000, Direction=135, Strength=3);
    text-shadow: none;
    overflow: hidden;
    opacity: .9;
    color: #111;
}


.content li {

    list-style-type: none;
    text-indent: -3em;
    line-height: .77em;

}

@media only screen and (min-width: 420px) {

    .title {
        font-size: .4em;
    }
@media only screen and (min-width: 620px) {

    .title {
        font-size: .6em;
    }

@media only screen and (min-width: 815px) {

    .title {
        font-size: .8em;
    }

@media only screen and (min-width: 1000px) {

    .title {
        font-size: 1em;
    }

@media only screen and (min-width: 1200px) {

    .title {
        font-size: 1.2em;
    }
@media only screen and (min-width: 1410) {

    .title {
        font-size: 1.4em;
    }
@media only screen and (min-width: 1685px) {

    .title {
        font-size: 1.7em;
    }

@media only screen and (min-width: 1985px) {

    .title {
        font-size: 2em;
    }

}

