h1 {

    display: block;
}

.content {
    background-color: #333;
    margin: 20px auto 0px;
    opacity: .5;
    padding: 3%;
}

@media (min-width: 53em) {

    .content {

        min-width: 25em;
        opacity: .7;
        width: 25%;
    }

}

.tagline {

    font-size: 4em;
    position: fixed;
    bottom: 0px;
    right: 15px;
    opacity: 0;
}
