h1 {

    display: block;
}

@media (max-width: 31.25em) {

    h1 {
        opacity: .7;

    }
}

.first {
    margin: 12em auto 0em;
}
.productions {

    min-height: 20em;

}
@media (min-width: 32em) {
    .productions {
        clear: left;
        margin: 1em 28% 0px 0px ;
        opacity: .8;
        width: 32%;
    }

    .first {

        margin: 17em 0em 0px 0px ;
}

}
